h1{
    border-style: solid ;
    border-color: darkred;
    text-align: center;
    background-color: darkolivegreen;
    color: darkred;

}

li{
    color: darkgreen;
    height: 50px;
    width: 150px;
    border-style: solid;
    text-align: center;
    border-color: rgb(9, 71, 0);
    font-size: 30px;
}